<h1>Listing apex_access_control</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Admin username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apex_access_control.each do |apex_access_control| %>
  <tr>
    <td><%= apex_access_control.id %></td>
    <td><%= apex_access_control.admin_username %></td>
    <td><%= link_to 'Show', apex_access_control %></td>
    <td><%= link_to 'Edit', edit_apex_access_control_path(apex_access_control) %></td>
    <td><%= link_to 'Destroy', apex_access_control, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apex access control', new_apex_access_control_path %>
