<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @apex_access_control.id %>
</p>

<p>
  <b>Admin username:</b>
  <%= @apex_access_control.admin_username %>
</p>


<%= link_to 'Edit', edit_apex_access_control_path(@apex_access_control) %> |
<%= link_to 'Back', apex_access_control_index_path %>
